{% extends 'Client.html.twig' %}


{% block content %}
    <h1>Create new Commentairee</h1>
    <br>
    <br>

    {{ include('commentairee/_form.html.twig') }}

    <a href="{{ path('commentairee_index') }}">back to list</a>
{% endblock %}
