a:hover{
  color: #1f2227;
}
article>ul>i {
  color: #1f2227;
}
footer h4:after{
  background-color: #1f2227;
}
h3.title-icon{
  color: #1f2227;
}
.btn{
  background-color: #1f2227;
}
.btn.btn-filters.active,
.btn.btn-filters:hover {
  background-color: #1f2227;
  border-color: #1f2227;
}
.btn.btn-offer:hover{
  color: #1f2227;
}
.btn.btn-store:hover {
  background-color: #1f2227;
}
.btn.btn-testimonials{
  color: #1f2227;  
}
.btn.btn-testimonials:hover{
  background-color: #1f2227;
  border-color: #1f2227;
}
.btn.btn-video:hover {
  background-color: #1f2227;
}
.panel-group .panel-title>a:hover {
  color: #1f2227;
}
.panel-group .panel-title>a:hover i {
  color: #1f2227;
}
.panel-group .panel-title>a i{
  color: #1f2227;
}
.navbar .navbar-nav .dropdown-menu>li.active>a,
.navbar .navbar-nav .dropdown-menu>li>a:hover{
  background-color: #1f2227;
}
.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus,
.navbar .navbar-nav>li.active>a{
  color: #1f2227;
}
.menu-effect li a:before{
  background-color: #1f2227;
}
.navbar-toggle{
  border-color: #1f2227;
}
.navbar-toggle span {
  background-color: #1f2227;
}
.pagination>li>a:hover,
.pagination>li.active>a{
  border-color: #1f2227;
  color: #1f2227;
}
.bannercontainer .caption{
  background-color: #858585;
}
.bannercontainer .caption:after{
  background-color: #858585;
}
.sidebar .panel-group .panel-title>a:hover {
  color: #1f2227;
}
.sidebar .panel-group .panel-title>a:hover i {
  color: #1f2227;
}
.sidebar .panel-group .panel-title>a i{
  color: #1f2227;
}
.sidebar .popular li a:hover figure {
  border-color: #1f2227;
}
.nav-tabs>li.active>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover{
  color: #1f2227;
}
.timetable.mini li span:first-child{
  color: #1f2227;
}
header .title:before{
  background-color: #1f2227;
}
.content-left{
  background: #1f2227;
}
.topbar .language a:hover {
  color: #1f2227;
}
.topbar .top-menu li a:hover {
  color: #1f2227;
}
.offer{
  background-color: #1f2227;
}
.footer-menu ul li a:hover i {
  color: #1f2227;
}
.tweet-feed .owl-theme .owl-controls .owl-buttons div:hover {
  color: #1f2227;
}
.features-item a{
  color: #1f2227;
}
.features-item i{
  background-color: #1f2227;
}
.home-new-classes .owl-theme .owl-controls .owl-buttons div:hover {
  color: #1f2227;
}
.classes-gallery figure{
  background-color: #1f2227;
}
.classes-gallery h2 strong{
  border-bottom-color: #1f2227;
  color: #1f2227;
}
.plan-item li:first-child{
  color: #1f2227;
}
.testimonials-item p span{
  color: #1f2227;
}
.class-experience-ring .chart{
  color: #1f2227;
}
.slider-range .slider.slider-horizontal .slider-track{
  background: #1f2227;
}
.slider-range .slider.slider-horizontal .slider-selection{
  background: #1f2227;
}
.store-grid .store-item .foot .price span{
  color: #1f2227;
}
.store-single-picture .owl-theme .owl-controls .owl-buttons div:hover {
  color: #1f2227;
}
.zoomLens {
  border-color: #1f2227 !important;
}
.sidebar-twitter .tweet_list li .user {
  color: #1f2227;
}
.event-item .ammount{
  color: #1f2227;
}
.event-item .ammount-news{
  color: #1f2227;
}
.comments-item span em{
  color: #1f2227;
}
.comments-item .reply-link {
  color: #1f2227;
}
.news-single-item ul i{
  color: #1f2227;
}
.news-single-item h6 a{
  color: #1f2227;
}
.news-single-item p a{
  color: #1f2227;
}
/******* $Light *******/
.offer h4{
  color: #0E1726;
}
.btn.btn-offer{
  border-color: #0E1726;
  color: #0E1726;
}
.btn.btn-offer:hover {
  background-color: #0E1726;
}
.btn.btn-testimonials {
  border-color: #0E1726;
}
/******* $RGB *******/
.carousel-control:hover{
  background-color: rgb(14, 23, 38);
}
.flickr-feed li a:before{
  background-color: rgb(14, 23, 38);
}